{
    CopyProgressWindowLocation = "{662, 503}";
    DataSeparatedDisplayNameCache = "";
    DesktopViewSettings =     {
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
    };
    DownloadsFolderListViewSettingsVersion = 1;
    EmptyTrashProgressWindowLocation = "{664, 279}";
    "FK_AppCentricShowSidebar" = 1;
    "FK_ArrangeBy" = None;
    "FK_DefaultIconViewSettings" =     {
        arrangeBy = name;
        backgroundColorBlue = 1;
        backgroundColorGreen = 1;
        backgroundColorRed = 1;
        backgroundType = 0;
        gridOffsetX = 0;
        gridOffsetY = 0;
        gridSpacing = 54;
        iconSize = 64;
        labelOnBottom = 1;
        showIconPreview = 1;
        showItemInfo = 1;
        textSize = 12;
        viewOptionsVersion = 1;
    };
    "FK_DefaultListViewSettings" =     {
        calculateAllSizes = 0;
        columns =         (
                        {
                ascending = 1;
                identifier = name;
                visible = 1;
                width = 300;
            },
                        {
                ascending = 0;
                identifier = dateModified;
                visible = 0;
                width = 181;
            },
                        {
                ascending = 0;
                identifier = dateCreated;
                visible = 0;
                width = 181;
            },
                        {
                ascending = 0;
                identifier = size;
                visible = 1;
                width = 97;
            },
                        {
                ascending = 1;
                identifier = kind;
                visible = 1;
                width = 115;
            },
                        {
                ascending = 1;
                identifier = label;
                visible = 0;
                width = 100;
            },
                        {
                ascending = 1;
                identifier = version;
                visible = 0;
                width = 75;
            },
                        {
                ascending = 1;
                identifier = comments;
                visible = 0;
                width = 300;
            },
                        {
                ascending = 0;
                identifier = dateLastOpened;
                visible = 0;
                width = 200;
            },
                        {
                ascending = 0;
                identifier = shareOwner;
                visible = 0;
                width = 200;
            },
                        {
                ascending = 0;
                identifier = shareLastEditor;
                visible = 0;
                width = 200;
            },
                        {
                ascending = 0;
                identifier = dateAdded;
                visible = 1;
                width = 181;
            }
        );
        iconSize = 16;
        showIconPreview = 1;
        sortColumn = dateAdded;
        textSize = 13;
        useRelativeDates = 1;
        viewOptionsVersion = 1;
    };
    "FK_SidebarWidth" = 154;
    "FK_StandardViewSettings" =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareOwner;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareLastEditor;
                    visible = 0;
                    width = 200;
                }
            );
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 300;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        SettingsType = "FK_StandardViewSettings";
    };
    FXArrangeGroupViewBy = Name;
    FXDesktopTouchBarUpgradedToTenTwelveOne = 1;
    FXDesktopVolumePositions =     {
        "Android Studio - Koala Feature Drop | 2024.1.2 Patch 1_0x1.4fe3db98p+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 78;
        };
        "Android Studio - Meerkat | 2024.3.1_0x1.4fe3db98p+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 414;
        };
        "Arc_0x1.6bdbcf7p+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 190;
        };
        "Brave Browser_0x1.6bc304b7ac0d8p+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 78;
        };
        "Google Chrome_0x1.6b813028p+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 302;
        };
        "UTM_0x1.68ce97fp+29" =         {
            AnchorRelativeTo = 2;
            ScreenID = 0;
            xRelative = "-309";
            yRelative = "-255";
        };
    };
    FXDetachedDesktopProviderID = "";
    FXDetachedDocumentsProviderID = "";
    FXICloudDriveDesktop = 0;
    FXICloudDriveDocuments = 0;
    FXICloudDriveEnabled = 1;
    FXICloudDriveFirstSyncDownComplete = 0;
    FXICloudLoggedIn = 1;
    FXInfoPanesExpanded =     {
        Privileges = 1;
    };
    "FXPreferencesWindow.Location" = "{{771, 433}, {377, 381}}";
    FXPreferredGroupBy = "Date Added";
    FXPreferredViewStyle = Nlsv;
    FXQuickActionsConfigUpgradeLevel = 3;
    FXRecentFolders =     (
                {
            "file-bookmark" = {length = 620, bytes = 0x626f6f6b 6c020000 00000410 30000000 ... 04000000 00000000 };
            name = apple;
        },
                {
            "file-bookmark" = {length = 1388, bytes = 0x626f6f6b 6c050000 00000410 30000000 ... 5c040000 00000000 };
            name = UTM;
        },
                {
            "file-bookmark" = {length = 664, bytes = 0x626f6f6b 98020000 00000410 30000000 ... 04000000 00000000 };
            name = Downloads;
        },
                {
            "file-bookmark" = {length = 664, bytes = 0x626f6f6b 98020000 00000410 30000000 ... 04000000 00000000 };
            name = Documents;
        },
                {
            "file-bookmark" = {length = 700, bytes = 0x626f6f6b bc020000 00000410 30000000 ... 04000000 00000000 };
            name = test;
        },
                {
            "file-bookmark" = {length = 664, bytes = 0x626f6f6b 98020000 00000410 30000000 ... 04000000 00000000 };
            name = "mac-setup";
        },
                {
            "file-bookmark" = {length = 660, bytes = 0x626f6f6b 94020000 00000410 30000000 ... 04000000 00000000 };
            name = Desktop;
        },
                {
            "file-bookmark" = {length = 744, bytes = 0x626f6f6b e8020000 00000410 30000000 ... 04000000 00000000 };
            name = assets;
        },
                {
            "file-bookmark" = {length = 700, bytes = 0x626f6f6b bc020000 00000410 30000000 ... 04000000 00000000 };
            name = "zet_b2c";
        },
                {
            "file-bookmark" = {length = 660, bytes = 0x626f6f6b 94020000 00000410 30000000 ... 04000000 00000000 };
            name = projects;
        }
    );
    FXSidebarUpgradedSharedSearchToTwelve = 1;
    FXSidebarUpgradedToTenFourteen = 1;
    FXSidebarUpgradedToTenTen = 1;
    FXSyncExtensionToolbarItemsPendingAdd =     (
    );
    FXSyncExtensionToolbarItemsPendingRemove =     (
    );
    FXToolbarUpgradedToTenEight = 1;
    FXToolbarUpgradedToTenNine = 2;
    FXToolbarUpgradedToTenSeven = 1;
    FavoriteTagNames =     (
        "",
        Red,
        Orange,
        Yellow,
        Green,
        Blue,
        Purple,
        Gray
    );
    LastTrashState = 1;
    MeetingRoomViewSetting =     {
        CustomViewStyleVersion = 1;
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 0;
            ShowTabView = 0;
            ShowToolbar = 1;
            WindowBounds = "{{404, 153}, {1064, 778}}";
        };
    };
    "NSToolbar Configuration Browser" =     {
        "TB Display Mode" = 2;
        "TB Icon Size Mode" = 1;
        "TB Is Shown" = 0;
        "TB Size Mode" = 1;
    };
    NewWindowTarget = PfHm;
    "PreferencesWindow.LastSelection" = ADVD;
    RecentMoveAndCopyDestinations =     (
        "file:///Applications/",
        "file:///Users/apple/test/",
        "file:///Users/apple/projects/zet_b2c/assets/referral/",
        "file:///Users/apple/projects/zet_b2c/assets/profile/",
        "file:///Users/apple/projects/zet_b2c/assets/plan/",
        "file:///Users/apple/projects/zet_b2c/assets/",
        "file:///Users/apple/projects/zet_b2c/assets/freeEsims/",
        "file:///Users/apple/Downloads/assets/ekyc/",
        "file:///Users/apple/projects/zet_b2c/assets/ekyc/",
        "file:///Users/apple/Downloads/assets/"
    );
    RecentsArrangeGroupViewBy = "Date Last Opened";
    SearchRecentsSavedViewStyleVersion = "%00%00%00%01";
    SearchRecentsViewSettings =     {
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 0;
            ShowTabView = 0;
            ShowToolbar = 1;
            WindowBounds = "{{404, 153}, {1064, 778}}";
        };
    };
    ShowExternalHardDrivesOnDesktop = 1;
    ShowHardDrivesOnDesktop = 0;
    ShowPathbar = 1;
    ShowRemovableMediaOnDesktop = 1;
    ShowSidebar = 1;
    ShowStatusBar = 1;
    SidebarDevicesSectionDisclosedState = 1;
    SidebarPlacesSectionDisclosedState = 1;
    SidebarShowingSignedIntoiCloud = 1;
    SidebarShowingiCloudDesktop = 0;
    SidebarWidth = 169;
    StandardViewSettings =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareOwner;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareLastEditor;
                    visible = 0;
                    width = 200;
                }
            );
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        GalleryViewSettings =         {
            arrangeBy = name;
            iconSize = 48;
            showIconPreview = 1;
            viewOptionsVersion = 1;
        };
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 300;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        SettingsType = StandardViewSettings;
    };
    TagsCloudSerialNumber = 1;
    TrashViewSettings =     {
        CustomViewStyleVersion = 1;
    };
}
